@font-face {
    font-family: 'Aurebesh';
    src: url('fonts/Aurebesh.otf');
}

Button {
    -fx-font-family: 'Roboto Light';
    -fx-border-color: #9f9f9f;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-background-color: #ffffff;
}

Button:hover {
    -fx-background-color: #f5f5f5;
}

Label {
    -fx-font-family: 'Roboto Light';
}

TextField {
    -fx-font-size: 15;
    -fx-pref-height: 50;
    -fx-border-color: #9f9f9f;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

TextField:disabled {
    -fx-opacity: 1;
}

#outputField {
    -fx-opacity: 1;
    -fx-font-size: 16;
}

#inputField {
    -fx-opacity: 1;
    -fx-font-size: 16;
}

#inputField {
    -fx-font-size: 15;
}

.aurebeshOutputFieldEmpty {
    -fx-opacity: 1;
    -fx-font-family: 'Roboto Light';
}

.backgroundAnchor {
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover;
}

.outerLabel {
}

.aurebeshInputButton {
    -fx-min-width: 36;
    -fx-min-height: 36;
    -fx-max-width: 36;
    -fx-max-height: 36;
    -fx-font-size: 14;
}

#backSpace {
    -fx-font-size: 32;
}

#backSpace:hover {
    -fx-font-size: 32;
}

.wrongInputBox {
    -fx-border-color: red;
}

.aurebesh{
    -fx-font-family: 'Aurebesh';
}

.backButton {
    -fx-font-size: 22;
}

.menuButtonText {
    -fx-font-size: 16;
}
