@font-face {
    font-family: 'Aurebesh';
    src: url('fonts/Aurebesh.otf');
}

Button {
    -fx-font-family: 'Roboto Light';
}

Label {
    -fx-font-family: 'Roboto Light';
}

TextField:disabled {
    -fx-opacity: 1;
    -fx-font-family: 'Aurebesh';
}

#outputField {
    -fx-opacity: 1;
    -fx-font-size: 16;
}

#inputField {
    -fx-opacity: 1;
    -fx-font-size: 16;
}

#inputField {
    -fx-font-family: 'Aurebesh';
    -fx-font-size: 15;
}

.aurebeshOutputFieldEmpty {
    -fx-opacity: 1;
    -fx-font-family: 'Roboto Light';
}

.backgroundAnchor {
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover;
}

.outerLabel {
    -fx-font-family: 'Aurebesh';
}

.aurebeshInputButton {
    -fx-font-family: 'Aurebesh';
    -fx-min-width: 35;
    -fx-min-height: 35;
    -fx-max-width: 35;
    -fx-max-height: 35;
    -fx-font-size: 14;
}

#backSpace {
    -fx-font-size: 32;
}

#backSpace:hover {
    -fx-font-size: 32;
}

.wrongInputBox {
    -fx-border-color: red;
}
